extends layout

block content
    .row.my-5
        .col-lg-8.mx-auto
            .card
                .card-body
                    h2.card-title.text-danger invalid permissions
                    | Oops! unfortunately you do not have proper permissions to view this page...